<div class="container">
  <div class="header">
    <div class="left">
      <h1 class="title">Add Tutorial</h1>
      <div class="line"></div>
      <div class="bread">
        <app-breadcrumb [navArray]="navArray"></app-breadcrumb>
      </div>
    </div>
  </div> <!-- END! Header -->


  <div class="content">
    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <div class="gallery-picker">
        <app-gallery-image-picker
          [type]="'multiple'"
          [maxImages]="2"
          [isInvalid]="this.dataForm.get('image').touched && this.dataForm.get('image').invalid"
          (onPicked)="onPickedImage($event)"
          infoText="The  image for any (154px * 100px)"
          [images]="pickedImages">
        </app-gallery-image-picker>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter name" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Url</mat-label>
        <input formControlName="url" matInput placeholder="Enter url" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>keyword</mat-label>
        <input formControlName="keyword" matInput placeholder="Enter keyword" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>





      <div class="action">
        <button (click)="onDiscard()" mat-stroked-button color="warn" type="button" class="discard">
          <mat-icon>arrow_back_ios</mat-icon>
          Discard
        </button>

        @if (!isLoading) {
          <button   mat-raised-button color="accent" type="submit">
            <mat-icon>check</mat-icon>
            {{ id ? 'Update Tutorial' : 'Add Tutorial' }}
          </button>
        } @else {
          <button class="btn-loader" mat-raised-button type="button" color="accent">
            <div><span class="loader"></span></div>
            <div><span class="txt">{{ id ? 'Update Tutorial' : 'Add Tutorial' }}</span></div>
          </button>
        }
      </div>

    </form> <!-- END! Form -->

  </div> <!-- END! Content -->
</div>
