<div class="dialog-container">
  <div class="dialog-header">
    <mat-icon color="primary" class="header-icon">info</mat-icon>
    <h3>Change Theme: <span style="color: #d83333">{{data?.domain}}</span></h3>
  </div>
  <div class="dialog-content">

    <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <div class="w-100">
        <mat-checkbox formControlName="needReset" style="margin-right: 5px;">Need Reset Full Data?</mat-checkbox>

      </div>

<!--      <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">-->
<!--        <mat-label>Select Theme</mat-label>-->
<!--        <mat-select formControlName="theme">-->
<!--          <mat-option *ngFor="let data of themes" [value]="data._id">-->
<!--            {{ data.name }}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--        <mat-error>This field is required.</mat-error>-->
<!--      </mat-form-field>-->

      <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
        <mat-label>Select Theme</mat-label>
        <mat-select formControlName="theme" (selectionChange)="onThemeChange($event)">
          <mat-option *ngFor="let data of themes" [value]="data._id" style="margin-bottom: 10px;">
            <p style="font-size: 12px">{{ data.name }}</p>
            <p style="color: #841a8e; font-weight: 500">Ref: {{data.reference}}</p>
          </mat-option>
        </mat-select>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>



      <mat-form-field [style.display]="dataForm.get('needReset').value ? 'block': 'none'" appearance="outline"  style="width: 100%; margin-top: 10px;">
      <mat-label>Clone Url</mat-label>
        <mat-select formControlName="cloneWebUrl">
          <mat-option *ngFor="let data of filteredCloneUrls" [value]="data.value">
            {{ data.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>



      <div class="dialog-actions">
        @if (!isLoading) {
          <button mat-raised-button color="accent" type="submit">
            <mat-icon>check</mat-icon>
            Change Theme
          </button>
        } @else {
          <button class="btn-loader" mat-raised-button type="button" color="accent">
            <div><span class="loader"></span></div>
            <div><span class="txt">Change Theme</span></div>
          </button>
        }
      </div>

    </form>



  </div>

</div>
