<div class="dialog-container">
  <div class="dialog-header">
    <mat-icon color="primary" class="header-icon">info</mat-icon>
    @if (buildStatus !== 'secure') {
      <h3>
        Website is creating: <span>{{ formatTime(totalTime - elapsedTime) }}</span>
      </h3>
    }
    @if (buildStatus === 'secure') {
    <h3>Website build done</h3>
    }
  </div>
  <div class="dialog-content">
    <div class="status">
      <span>Build Status: <strong [ngClass]="buildStatus">{{ buildStatus | titlecase }}</strong></span>
    </div>
    <mat-progress-bar
      class="custom-progress-bar"
      color="primary"
      mode="determinate"
      [value]="buildStatus === 'secure' ? 100 : progressValue"
    ></mat-progress-bar>
    <div class="details">
      <p><strong>Website URL:</strong> <a [href]="(buildStatus ==='secure' ? 'https://' : 'http://') + (data?.domain ?? data?.subDomain)" target="_blank">{{ data?.domain ?? data?.subDomain }}</a>
      </p>
      <p><strong>Admin URL:</strong> <a href="https://admin.saleecom.com" target="_blank">admin.saleecom.com</a>
      </p>
      <p><strong>Username:</strong> {{ data?.username }}</p>
      <p><strong>Password:</strong> {{ data?.password }}</p>
    </div>
  </div>
  <div class="dialog-actions">
    <button mat-button color="warn" (click)="closeDialog()">Close</button>
    <button mat-raised-button color="primary" (click)="copyWebsiteInfo()">
      <mat-icon>content_copy</mat-icon>
      Copy Information
    </button>
  </div>
</div>
